extends ../layouts/default

block content
  .container
    .row
      .col-xs-12.col-sm-12.col-md-12
        .col-xs-12.col-sm-6.col-md-7
          h3.home-title.home-title-first nästa
          h3.home-title.home-title-second #utvecklardag:
          h1.home-date 12:e JAN
        .col-xs-12.col-sm-6.col-md-5.insta-view
          ul#instafeed


//- access token: 2312486313.5ec7983.164e07fd397c4ea8a78c1b75d6bcbcef
//- id: 5ec7983589534ddc903bad953a60d2c1