extends ../layouts/default

block content
  .container
    .row
      .col-xs-12.col-sm-12.col-md-12
        .col-xs-12.col-sm-6.col-md-7
          h3.home-title.home-title-first nästa
          h3.home-title.home-title-second #utvecklardag:
          h1.home-date 9:e feb
        .col-xs-12.col-sm-6.col-md-5.insta-view
          ul#instafeed

      .col-xs-12
        if data.dates
          each date in data.dates
            p= date