extends ../layouts/default

block content
  .container-fluid
    .row
      .col-sm-10.col-sm-offset-1.col-md-8.col-md-offset-2
        span.back-button
          a(href='/projects') &larr; tillbaka
        hr
        h3.text-center= data.project.title

      .col-sm-10.col-sm-offset-1.col-md-6.col-md-offset-3.project-body
        .project-brief!= data.project.content.brief
        .project-extended!= data.project.content.extended

      .col-sm-10.col-sm-offset-1.col-md-8.col-md-offset-2
        hr
        if data.project.categories && data.project.categories.length
          |&nbsp;
          each cat, cat_i in data.project.categories
            a(href='/projects/' + cat.key)= '#' + cat.name
            if cat_i < data.project.categories.length - 1
              | ,&nbsp;
            else
              |&nbsp;
