extends ../layouts/default

block intro
  .container
    h1 Få e-post om kommande utvecklardagar!

block content
  .container
    if enquirySubmitted
      h3 Tack för att du prenumererar :)!
    else
      .row: .col-sm-8.col-md-6
        form(method='post')
          input(type='hidden', name='action', value='subscribe')
          .form-group(class=validationErrors.email ? 'has-error' : null)
            label E-post
            input(type='email', name='email', value=formData.email).form-control
          .form-actions
            button(type='submit').btn.btn-primary PRENUMERERA!
