include ../mixins/flash-messages

doctype html
html
	head
		meta(charset="utf-8")
		meta(name="viewport", content="width=device-width, initial-scale=1.0")
		meta(http-equiv="X-UA-Compatible" content="IE=edge")

		title= 'Utvecklardag'
		link(rel="shortcut icon", href="/favicon.ico", type="image/x-icon")
		link(href="https://fonts.googleapis.com/css?family=Roboto:500", rel="stylesheet")
		link(href="/styles/lightslider.css", rel="stylesheet")
		link(href="https://use.fontawesome.com/releases/v5.0.4/css/all.css" rel="stylesheet")
		link(href="/styles/site.min.css", rel="stylesheet")

		if user && user.canAccessKeystone
			link(href="/keystone/styles/content/editor.min.css", rel="stylesheet")

		block css

		block head

	body

		//- HEADER
		#header: .container: .row: .col-xs-12
			div(role="navigation").navbar.navbar-default.nav-cent
					.navbar-header
						button.navbar-toggle(type='button', data-toggle='collapse', data-target='.navbar-collapse')
							span.sr-only Toggle navigation
							span.icon-bar
							span.icon-bar
							span.icon-bar
						.nav-image-div
							a(href='/')
								img(src='https://image.ibb.co/iC5Xmm/symbol_svart.png').nav-image
					.collapse.navbar-collapse
						ul.nav.navbar-nav
							each link in navLinks
								li(class=(section == link.key ? 'active' : null)): a(href=link.href)= link.label
							if user
								if user.canAccessKeystone
									li: a(href='/keystone') Admin
								li: a(href='/keystone/signout') Logga ut

		//- BODY
		#body
			block intro

			+flash-messages(messages)

			block content

		#footer: .container: .row
			.col-xs-12.col-sm-12.col-md-12.footer
				.col-xs-12.col-sm-2.col-sm-offset-3
					a(href='https://utvecklardag.herokuapp.com/contact')
						p Kontakt
				.col-xs-12.col-sm-6
					p Humlegatan 4, 211 27 Malmö
				.col-xs-4.col-sm-2.col-sm-offset-3.icons
					a(href='https://sv-se.facebook.com/oddhill/' target='_blank')
						i.fab.fa-facebook-f
				.col-xs-4.col-sm-2.icons
					a(href='https://www.instagram.com/explore/tags/utvecklardag/' target='_blank')
						i.fab.fa-instagram
				.col-xs-4.col-sm-2.icons
					a(href='https://twitter.com/search?q=%23utvecklardag' target='_blank')
						i.fab.fa-twitter-square


		//- scripts
		//- script(src='/js/jquery/jquery-1.11.3.min.js')
		script(src='/js/jquery/jquery-3.2.1.min.js')
		script(src='/js/bootstrap/bootstrap-3.3.5.min.js')
		script(src='/js/lightslider.min.js')
		script(src='/js/instafeed.min.js')
		script(src='/js/main.js')

		if user && user.canAccessKeystone
			script(src='/keystone/js/content/editor.js')

		block js
