// .instaimg img {margin-bottom:30px;}
// .instaimg img:hover {
//   opacity:0.8;
//   -moz-opacity:0.8;
//   -webkit-opacity:0.8;
// }

.home-title {
  font-family: 'SummitMediumInline';
  // text-transform: uppercase;
  font-size: 23px;
}

.home-title-first {
  margin-bottom: 0px;
}

.home-title-second {
  margin-top: 0px;
}

.home-date {
  // font-family: 'SummitBoldSolid';
  // font-family: 'SummitLightDisplay';
  font-family: 'SummitRegularSolid';
  // text-transform: uppercase;
}

.insta-view {
  .insta-li {
    img {
      width: 100%;
    }
  }

  .lSPager {
    display: none;
  }

  .lSAction {
    display: none;
  }

  .lSNext {
    display: none;
  }
}

/* media queries */

/* titles */
@media (min-width: 360px) {
  .home-title {
    font-size: 26px;
  }

  .home-date {
    font-size: 50px;
  }
}

@media (min-width: 414px) {
  .home-title {
    font-size: 31px;
  }
}

@media (min-width: 768px) {
  .home-title {
    font-size: 31px;
  }
}

// @media (min-width: 960px) {
//   .home-title {
//     font-size: 40px;
//   }

//   .home-date {
//     font-size: 65px;
//   }
// }

@media (min-width: 1024px) {
  .home-title {
    font-size: 40px;
  }

  .home-date {
    font-size: 65px;
  }
}