.home-title {
  font-size: 21px;
}

.home-title-first {
  margin-bottom: 0px;
}

.home-title-second {
  margin-top: 0px;
}

.home-date {
  font-family: 'Oswald', sans-serif;
  font-size: 80px;
  margin-top: -0.2em;
}

.insta-view {
  .insta-li {
    img {
      width: 100%;
    }
  }

  .lSPager {
    display: none;
  }

  .lSAction {
    display: none;
  }

  .lSNext {
    display: none;
  }
}

/* media queries */

@media (min-width: 768px) {
  .home-title {
    font-size: 34px;
  }

    .home-date {
      font-size: 120px;
      margin-top: 0.1em;
    }
}