@import url('https://fonts.googleapis.com/css?family=Oswald:300,500|Roboto+Mono|Roboto+Condensed:300,700');

@font-bread: font-family: 'Roboto Condensed', sans-serif;
@font-head: font-family: 'Oswald', sans-serif;

@color-black: #292C33;
@color-shade: #f8f8f8;

body {
  margin-top: 70px;
  font-weight: 300;
  font-size: 14px;
  color: #292C33;
  background-color: #FFFFFF;
  font-family: 'Roboto Condensed', sans-serif;
}

p {
  font-family: 'Roboto Condensed', sans-serif;
}

#body {
  margin-bottom: 50px;
}

/* titles */
h3 {
  font-family: 'Roboto Mono', sans-serif;
  font-size: 1.4em;
  text-transform: lowercase;
}

/* dash-span */
.highlight {
  color: #FD6769;
}

/* footer */
#footer {
  position: absolute;
  bottom: 0;
  width: 100%;
}

/* nav */
.navbar-default {
  background-color: #FFF;
  border-radius: 0;
  text-transform: uppercase;
  width: 100%;
  z-index: 100;
  position: fixed;
  top: 0;
  left: 0;

  .navbar-nav {
    margin: 20px 0;

    li > a {
      font-family: 'Oswald', sans-serif;
      font-weight: 300;
      color: black;
      letter-spacing: 1.4px;
      font-size: 16px;
      padding: 0 1.9em;
    }
  }

  .navbar-nav > .active > a {
    color: black;
    background-color: #fc7376;
  }

  .navbar-toggle {
    border: none;

    .icon-bar {
      background-color: black;
    }
  }
}

.nav-image-div {
  width: 50px;

  .nav-image {
    width: 100%;
    margin-left: 5px;
  }
}

/* nav media query */
@media (min-width: 768px) {
  .navbar-nav {
    font-size: 14px;
    float: right;
  }

  .navbar-collapse {
    padding: 0;
  }

  .nav-image-div {
    margin-top: 6px;
  }
}

/* body media query */
@media (min-width: 601px) {
  body {
    margin-top: 90px;
  }
}

/* flash messages */
@media (min-width: 768px) {

  // #flash-messages {
  //   width: 500px;
  // }
}
