.project-title {
  font-family: 'Oswald',sans-serif;
  font-size: 1.8em;
}

.project-category {
  a {
    color: #fc7376;
    font-style: italic;
  }
}

.back-button {
  margin: 0;

  a {
    color: black;
  }
}

.project-body {
  margin-top: 20px;
}

.project-brief {
  font-weight: bold;
}