/* projects.pug */
.try-projects {
  margin-top: 20px;
  padding-left: 0;
  padding-right: 0;
}

.projects {
  background-color: #f8f8f8;
  border: 1px solid #ddd;
  margin-bottom: 15px;

  .projects-title {
    padding-top: 15px;
    font-size: 2rem;
    font-family: 'Oswald',sans-serif;
    font-weight: 500;
    letter-spacing: .04em;

    a {
      color: #333;
    }
  }

  .projects-text {
    padding: 15px 15px 0px 15px
    line-height: 1.6;
  }

  .projects-category {

    padding: 10px;

    a {
      color: #fc7376;
      height: auto;
      font-size: 12px;
      line-height: 25px;
    }
  }
}

/* dropdown. rules also apply to the dropdown @ blog view */
#projectsDropdownMenu {
  border: 1px solid black;
  border-radius: 4px;
  background-color: #FFF;
  text-transform: uppercase;
}

.category-dropdown {
  margin-top: 7px;
  margin-bottom: 10px;
}

.dropdown-menu {
  background-color: #FFFFF0;
  padding: 0;
  margin: 0 0 0 -59px;

  .list-group-item.active {
    background-color: #fc7376;
    color: #555;
    border: 0;
    font-weight: 600;
  }

  li a {
    border: 0;
    // font-weight: 600;
    letter-spacing: 1.2px;
  }
}

.dropdown-toggle {
  border: 1px solid black;
  border-radius: 4px;
}

.dropdown {
  float: right;
}